<br>
<br>
<br>
<br>
<br>

<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Messages List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let message of messages; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMessage(message, i)"
        >
          {{ message.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllMessages()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentMessage">
        <h4>Message</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentMessage.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentMessage.description }}
        </div>
        <div>
          <label><strong>Posted By:</strong></label>
          {{ currentMessage.postedby }}
        </div>
  
        <a class="badge badge-warning" routerLink="/members/messages/{{ currentMessage.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentMessage">
        <br />
        <p>Please click on a Message...</p>
      </div>
    </div>
  </div>