<br>
<br>
<br>
<br>

<div>
    <div *ngIf="currentMessage.id" class="edit-form">
      <h4>Message</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentMessage.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentMessage.description"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="postedby">Posted By</label>
            <input
              type="text"
              class="form-control"
              id="postedby"
              
              [(ngModel)]="currentMessage.postedby"
              name="postedby"
            />
          </div>
  
        <div class="form-group">
          <!-- <label><strong>Status:</strong></label>
          {{ currentMessage.published ? "Published" : "Pending" }} -->
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentMessage.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentMessage.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteMessage()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateMessage()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentMessage.id">
      <br />
      <p>Cannot access this Message...</p>
    </div>
  </div>